brotli==1.0.9
ConfigParser==5.2.0
Cython==0.29.27
dl==0.1.0
docutils==0.18.1
Flask==2.0.2
Flask_SQLAlchemy==2.5.1
HTMLParser==0.0.2
importlib_metadata==4.0.1
jnius==1.1.0
keyring==23.0.1
lockfile==0.12.2
lxml==4.7.1
MarkupSafe==1.1.1
numpy==1.19.5
ordereddict==1.1
protobuf==3.19.4
pyOpenSSL==22.0.0
toml==0.10.2
tornado==6.1
typing_extensions==4.1.1
xmlrpclib==1.0.1
zipp==1.0.0
